<div class="report">
  <table>
    <tr>
      <%= form_tag(home_report_path, method: :get) do %>
        <h4>Filter by:</h4>
        <%= select_tag(:filter, options_for_select([['Tweet', 1],['Retweet', 2], ['Date of tweet', 3]], selected: params[:filter]), prompt: 'Select option') %>
        <td>
          <div class="tweet">
            <%= label_tag "Tweet"%>
            <%= text_field_tag :tweet, params[:tweet] %>
          </div>
          <div class="retweet">
            <%= label_tag "Retweet"%>
            <%= text_field_tag :retweet, params[:retweet] %>
          </div>
          <div class="tweet_date">
            <%= label_tag "Tweet by Date"%>
            <%= date_field_tag :tweet_date %>
          </div>
        </td>
        <td>
          <%= submit_tag 'Search'%>
        </td>
      <%end%>
    </tr>
  </table>
  <%= render 'report_listing'%>
</div>
<script type="text/javascript">
      $(function(){
        $("#filter").on('click', function(){
          var id = $(this).val();
          if(id == "1") {
            $('.tweet').show();
            $('.retweet').hide();
            $('.tweet_date').hide();
          } else if(id == "2") {
            $('.retweet').show();
            $('.tweet').hide();
            $('.tweet_date').hide();
          } else {
            $('.tweet_date').show();
            $('.tweet').hide();
            $('.retweet').hide();
          }
        });
      });
    </script>
